<div ng-if="vm.recorder" class="audio-recorder">
    switch between:
    <hc-microphone-viewport
        src="vm.src">
    </hc-microphone-viewport>

    <button
        type="button"
        ng-if="vm.status == 'paused' && !vm.src"
        ng-click="vm.startRecording()">
        Start recording
    </button>

    <button
            type="button"
            ng-if="vm.status == 'recording'"
            ng-click="vm.stopRecording()">
        Stop recording
    </button>

    <button
            type="button"
            ng-if="vm.src"
            ng-disabled="vm.status == 'replaying'"
            ng-click="vm.replay()">
        Replay
    </button>

    <button
            type="button"
            ng-if="vm.status == 'replaying'"
            ng-click="vm.stop()">
        Stop
    </button>

    <button
        type="button"
        ng-if="vm.src"
        ng-click="vm.saveRecording()">
        Save
    </button>
</div>

<div ng-if="vm.error">
    Audio recording is not supported in your browser.
</div>