<h1>Audio recorder</h1>

<hc-recorder-audio
    style="width: 100%;"
    save="vm.saveAudio">
</hc-recorder-audio>

<hr>
<h1>Video recorder</h1>

<hc-recorder-video
    style="width: 100%;"
    save="vm.saveVideo">
</hc-recorder-video>

<hr>
<div>
    Audio recording Log:
    <ul>
        <ol ng-repeat="blob in vm.audioBlobs">
            Created: {{blob.size}}, {{blob.type}}
        </ol>
    </ul>

    Video recording Log:
    <ul>
        <ol ng-repeat="blob in vm.videoBlobs">
            Created: {{blob.size}}, {{blob.type}}
        </ol>
    </ul>
</div>
